<div class="row container-fluid event-list">
    <h2 class="article-h1 h1-event-list col-md-5 col-12"> <i class="fal fa-calendar"></i>
        Nous voir
    </h2>
    <a href="#article-anch6" class="col-md-12 d-none d-md-block">
        <div class="button button2 button3">
            <p><i class="fas fa-chevron-down"></i></p>
        </div>
    </a>
    {#<div class="offset-md-5"></div>#}
    <section class="event container-fluid">
        <div id="title-bloc" class="title-bloc2 flex-title-bloc col-12 row">
            <div class="container-fluid event-list">

            {% for event in events %}
                {% for show in shows%}
                  {% if show.get_field('id_show') == event.get_field('id_show') %}
                    {% if event.get_field('public') == true
                        and show.get_field('dispo') == 1
                        and "now"|date > event.get_field('date_show')
                    %}

                                <a class="row  event-home-bloc" href="{{ event.link }}">
                                    {#<div class="offset-md-2 d-none d-md-block"></div>#}
                                    <div class="thumb3 col-12 col-md-2 d-none d-md-block">
                                        <img src="{{ show.thumbnail.src }}" alt="thumb">
                                    </div>
                                    {#<div class="offset-md-2 d-none d-md-block"></div>#}
                                    <p class="date-list col-12 col-md-2">{{ event.get_field('date_show') }}</p>
                                    {% for place in places if place.get_field('salle') == event.get_field('salle')%}

                                            <p class="col-12 col-md-3">{{ place.get_field('salle') }}</p>
                                            <p class="col-12 col-md-3">{{ place.get_field('cp') }} {{ place.get_field('commune') }}</p>
                                            <p class="col-12 col-md-2 country">
                                                {% if place.get_field('pays') != 'France' %}
                                                    {{ place.get_field('pays') }}
                                                {% endif %}

                                    </p>

                                    {% endfor %}
                                </a>
                                <div class="title-bloc video-title-bloc col-12">
                                </div>


                    {% endif %}
                  {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>

    </section>

</div>