<div class="offset-md-1 d-none d-md-block"></div>
{% for oneevent in oneevents %}
    <div id="title-bloc" class="title-bloc2 flex-title-bloc col-12 col-md-6">

        {% for oneshow in oneshows
            if oneshow.get_field('id_show') == oneevent.get_field('id_show')%}
            {% if oneevent.get_field('public') == true
                and oneshow.get_field('dispo') == 1
                and "now"|date > oneevent.get_field('date_show')
            %}

                <div class="event-list">

                    <div class="event2">

                        <a class="row event-home-bloc" href="{{ oneevent.link }}">
                            <h2 class="link link2 link2#66ccff2 article-h1 under-title link2 h1-event-list col-12">
                                <i class="far fa-eye"></i>
                                prochaine représentation
                            </h2>
                            <div class="thumb3 col-12 col-md-5 d-none d-md-block">
                                <img src="{{ oneshow.thumbnail.src }}" alt="thumb">
                            </div>
                            <div class="offset-md-1 d-none d-md-block"></div>
                            <p class="date-list row col-12 col-md-5">{{ oneevent.get_field('date_show') }}</p>
                            {% for place in places if place.get_field('salle') == oneevent.get_field('salle')%}
                                <div class="col-9">
                                    {{ place.get_field('gmap') }}
                                </div>

                                <div class="col-12 col-md-2">
                                    {% if place.get_field('pays') == 'France' %}
                                            <p>{{ place.get_field('cp') }}</p>
                                            <p>{{ place.get_field('commune') }}</p>
                                        {% else %}
                                            <p class="mt100">{{ place.get_field('commune') }}</p>
                                    {% endif %}
                                    {% if place.get_field('pays') != 'France' %}
                                        <p>
                                            <span class="country">
                                                {{ place.get_field('pays') }}
                                            </span>
                                        </p>
                                    {% endif %}
                                </div>

                            {% endfor %}
                        </a>
                    </div>
                </div>

            {% elseif post.get_field('video-booleen') == true %}
                <h2 class="article-h1 under-titleh1-event-list" id="video-title">
                    <i class="fal fa-video"></i> Videos
                </h2>
                <section class="article-content row">
                    <div class="offset-md-1 d-none d-md-block"></div>
                    <div class="article-loop video-content col-12 col-md-12" id="video">
                        {{ post.get_field('field_5cb8c5092e363') }}
                    </div>
                    <div class="offset-md-1 d-none d-md-block"></div>
                    <div class="title-bloc video-title-bloc col-12">

                        <a href="#article-anch3" class="col-md-12 d-none d-md-block">
                            <div class="button button2 button3">
                                <p><i class="fas fa-chevron-down"></i></p>
                            </div>
                        </a>
                    </div>
                </section>

            {% endif %}
        {% endfor %}
    </div>

{% endfor %}
