<div class="article-loop row container-fluid event-list">

    <section class="ref container-fluid">
        {% for ref in refs %}

            {% for show in shows %}



                    {% if show.get_field('field_5cbc31c7f2c13') == ref.get_field('field_5cbc31c7f2c13') %}
                        {% if "now"|date > ref.get_field('field_5cb4d81344d45')  %}


                            <div class="row event-home-bloc">
                                    <div class="thumb thumb2 col-md-1 d-none d-md-block">
                                        <img src="{{ show.thumbnail.src }}" alt="thumb">
                                    </div>
                                    <h2 class="article-h3 ref-h3 col-12 col-md-3 ">{{ show.title }}</h2>

                                    <p class="date-list col-md-2 col-8">{{ ref.get_field('field_5d49d6674e537') }}</p>

                                    <p class="salle col-md-2 col-12">{{ ref.get_field('field_5d49d6d14e538') }}</p>
                                    <p class="col-md-2 col-12">{{ ref.get_field('field_5d49d708a5d91') }} {{ ref.get_field('field_5d49d729a5d92') }} </p>
                                    <p class="col-md-2 col-12">{{ ref.get_field('field_5d49d87ca5d93') }}</p>
                            </div>


                        {% endif %}
                    {% endif %}


            {% endfor %}
        {% endfor %}
    </section>
</div>