<div class="row container-fluid event-list">


    {#<div class="offset-md-5"></div>#}
    <section class="event container-fluid">
        <div id="title-bloc" class="title-bloc2 flex-title-bloc col-12 row">
            <div class="container-fluid event-list2">
                <div class="title-bloc">
                    <h2 class="article-h1 under-title h1-event-list a-l-affiche link link#ff66332">
                        <i class="fas fa-square"></i> NOUS SOMMES PASSÉS PAR LÀ ...
                    </h2>
                </div>
                {% for reference in references %}
                    {% for show in shows%}
                        {% if show.get_field('id_show') == reference.get_field('id_show') %}
                                <div class="row event-home-bloc event-home-bloc2 event-home-ref-block">

                                    <div class="thumb3 col-12 col-md-2 d-none d-md-block">
                                        <img src="{{ show.thumbnail.src }}" alt="thumb">
                                    </div>
                                    {#<div class="offset-md-2 d-none d-md-block"></div>#}
                                    <p class="date-list col-12 col-md-2">{{ reference.get_field('date_ref')|raw}}</p>


                                        <p class="col-12 col-md-3">{{ reference.get_field('salle') }}</p>
                                        <p class="col-12 col-md-3">{{ reference.get_field('cp') }} {{ reference.get_field('commune') }}</p>
                                    {% if reference.get_field('pays') != 'France' %}
                                    <p class="col-12 col-md-2 country">
                                                {{ reference.get_field('pays') }}

                                    </p>
                                    {% endif %}


                                </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

    </section>


</div>